@model Vendimia.Configuracion

@{
    ViewBag.Title = "Edit";
}
<div class="card">
    <div class="card-header bg-primary text-white">
        Configuración General
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <span class="text-green">Tasa de financiamiento</span>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TasaFinanciamiento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TasaFinanciamiento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Enganche
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Enganche, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Enganche, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Plazo maximo
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PlazoMaximo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PlazoMaximo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="~/Ventas/Index" class="cancelar btn btn-danger" role="button" aria-disabled="true">Cancelar</a>
                        <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
