@model IEnumerable<Vendimia.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes registrados</h2>

<div class="text-right">
    <a href="~/Clientes/Create" class="btn btn-primary" role="button" aria-disabled="true">Nuevo Cliente</a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFC)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Cliente }) 
        </td>
    </tr>
}

</table>
